body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
}
nav.hide{
    transform: translateY(-100%);
}
nav .logo{
    float: left;
}
nav .logo img{
    height: 80px;
    transition: .5s;
}
nav.black .logo img{
height: 60px;
}
nav ul{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    line-height: 80px;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}
nav ul li a.active{
background-color: red;
color: #ffffff;
}
nav ul li a:hover{
    background-color: red;
color: #ffffff;
}
section.sec1{
    width: 100%;
    height: 100vh;
    background:url(bien.jpg);
    background-size: cover;
}
section.sec2{
    width: 100%;
    height: 100vh;
    background:url(bien.jpg);
    background-size: cover;
}
section.sec3{
    width: 100%;
    height: 100vh;
    background:url(bien.jpg);
    background-size: cover;
}