@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #0e1538;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box::before{
    content: " ";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    transform: skewX(2deg) skewY(4deg);
    background: linear-gradient(315deg,#00cf,#0e1538,#d400d4);
}
.box::after{
    content: " ";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    transform: skewX(2deg) skewY(4deg);
    background: linear-gradient(315deg,#00cf,#0e1538,#d400d4);
    /* cai nay lam sang duong vien */
    filter: blur(50px);
}
.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0e1538;
    z-index: 10;
}
.box h2{
    position: relative;
    z-index: 11;
    color: #fff;
    font-size: 10em;
}