body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: #34495e;
    color: whitesmoke;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}
.box h1{
    color: white;
    text-transform:uppercase;
    font-weight: 500px;
}
.box input[type="text"]{
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #3498db;
padding: 14px 10px;
width: 200px;
outline: none;
border-radius: 25px;
transition: 0.25s;
}
.box input[type="text"]:focus{
    width: 280px;
    border-color: #2ecc71;
}